/* Default light theme */
* {
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
}
:root {
  --background-color: #6bd3f6;
  --text-color: #000000;
  --link-color: #fff;
  --footer-background-color: #cecccc;
}

/* Dark theme */
.dark-mode {
  --background-color: #1d1c1c;  /* Dark gray */
  --text-color: #ffffff;  /* White text */
  --footer-background-color: #838383;  /* Slightly lighter dark gray for footer */
}


h2 {
  font-family: 'Poppins, sans-serif';
}
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
/* Container for centering */
.intro-container {
  display: flex;
  justify-content: center;  /* Center horizontally */
  align-items: center;  /* Center vertically */
  position: relative;
  padding: 0;  /* Ensure no extra padding */
}

/* Intro text */
.INTRO {
  color: #000000;
  font-weight: bold;
  font-family: "Anonymous Pro", monospace;
  letter-spacing: 7px;
  overflow: hidden;
  border-right: 2px solid hsl(0, 0%, 80%);
  white-space: nowrap;
  animation: typewriter 5s steps(30) 1s infinite,
    blinkTextCursor 500ms infinite;
  margin-top: 20px; /* Ensure no extra margin */
  line-height: 1;  /* Adjust line height to reduce space within the text */
}
.dark-mode .INTRO {
  color: #ffffff;
}

@keyframes typewriter {
  0% {
    width: 0px;
  }
  50% {
    width: 420px;
  }
  100% {
    width: 420px;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: hsl(0, 0%, 80%);
  }
  to {
    border-right-color: transparent;
  }
}
p {
  font-family: 'Poppins, sans-serif';
}

body {
  font-family: 'Poppins, sans-serif';
  background-color: var(--background-color); /* Instead of a hardcoded value */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--text-color); /* Use variable for text color */
  margin: 0;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: var(--text-color);
  text-align: center;
  background-color: var(--background-color);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--text-color); /* Use variable for text color */
}

.App-link {
  color: var(--link-color);
}

header {
  background-color: #ceccccd4;
  width: 100%;
}

ul {
  list-style-type: none; /* This removes bullet points */
  padding: 0;
  margin: 0;
}

/* External or internal CSS */
.img-small {
  align-items: left;
  padding-inline: 5vh;
  width: 50%; /* or any other size */
  height: auto;
}

nav {
  font-weight: bold;
  list-style-type: none;  /* Removes bullet points */
  padding: 0;  /* Removes padding */
  margin: 0;  /* Removes default margin */
  display: flex;  /* Flexbox to make the items horizontal */
  justify-content: center;  /* Centers items horizontally */
  align-items: center;  /* Align items vertically */
  box-sizing: border-box;
  width: 100%;
}
nav li {
  margin-inline: 60px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.dark-mode nav {
  background-color: #838383;
}

.logo {
  height: 40px;
  filter: invert(100%); 
}
.dark-mode .logo {
  filter: invert(0%)
}
.logo:hover {
  height: 45px;
}

nav ul {
  list-style-type: none;  /* Removes bullet points */
  padding: 0;  /* Removes padding */
  margin: 0;  /* Removes default margin */
  display: flex;  /* Flexbox to make the items horizontal */
  justify-content: center;  /* Centers items horizontally */
  align-items: center;  /* Align items vertically */
  box-sizing: border-box;
  background-color: none;
}

nav button {
  font-family: 'Poppins, sans-serif';
  background: none;  /* Removes background */
  border: none;  /* Removes border */
  cursor: pointer;  /* Changes cursor to pointer to indicate clickable */
  color: var(--link-color);  /* Inherits color from parent for consistency */
}
.dark-mode nav button {
  filter: invert(100%); 
}

nav ion-icon {
  font-size: 2.5em;  /* Adjust the size as needed */
  vertical-align: middle;  /* Keeps icon aligned with adjacent text */
  filter: invert(100%); 
}
nav ion-icon:hover {
  font-size: 3em;  /* Adjust the size as needed */
}


li button {
  font-weight: bold;
  text-decoration: none;  /* Removes underline from links */
  color: var(--link-color);  /* Sets text color for links */
  font-size: 1em;
  filter: invert(100%); 
}
.dark-mode li button {
  filter: invert(0%);
}

li button:hover {
  font-size: 1.2em;
}

nav a {
  text-decoration: none;  /* Removes underline from links */
  color: var(--link-color);  /* Sets text color for links */
  font-size: 1em;
  filter: invert(100%); 
}
.dark-mode nav a {
  filter: invert(0%); 
}

nav a:hover {
  font-size: 1.2em;
}

footer {
  background-color: var(--footer-background-color);
  width: 100%;
}

footer .footer-content {
  background-color: var(--footer-background-color);
  list-style-type: none;  /* Removes bullet points */ /* Removes padding */
  margin-top: 13px;/* Removes default margin */
  margin-bottom: 0;
  display: flex;  /* Flexbox to make the items horizontal */
  justify-content: center;  /* Centers items horizontally */
  align-items: center;  /* Align items vertically */
  box-sizing: border-box;
  width: 100%;
  white-space: nowrap;
  flex-wrap: wrap;
}

footer .footer-content button {
  background: none;
  border: none;  /* Removes border */
  cursor: pointer;  /* Changes cursor to pointer to indicate clickable */
  color: var(--link-color);  /* Inherits color from parent for consistency */
  padding-inline: 75px;
  font-size: 1.5em;
  filter: invert(100%); 
}
.dark-mode footer .footer-content button {
  filter: invert(0%); 
}

footer .footer-content button:hover {
  font-size: 1.7em; 
}

footer .footer-content a {
  color: var(--link-color); /* Light green, or choose your own color */
  padding-inline: 75px;
  font-size: 1.5em;
  filter: invert(100%); 
}
.dark-mode footer .footer-content a {
  color: var(--link-color); /* Light green, or choose your own color */
  font-size: 1.5em;
  filter: invert(0%); 
}

footer .footer-content a:hover {
  font-size: 1.7em; 
}


.about-container {
  display: flex;
  align-items: center; /* Vertically center align the items in the container */
  justify-content: center; /* Horizontally center the content */
  gap: 20px; /* Adds space between the image and the text */
  flex-direction: row; /* Default to row for larger screens */
}

.profile-image img {
  width: 400px; /* Adjust the width as needed */
  height: auto; /* Maintains the aspect ratio of the image */
  border-radius: 30px; 
  padding-inline: 0;
  padding: 0;
  border: 4px solid black;
}
.dark-mode .profile-image img {
  border: 3px solid white;
}
.about-text {
  max-width: 600px; /* Limits the width of the text content */
}

.TechStack {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap; /* Allows items to wrap to the next line */
}

.TechStack ion-icon {
  font-size: 75px; /* Larger icons */
  margin-right: 20px; /* Space between icons */
}

.TechStack img {
  width: 75px;
  height: 75px; 
  margin-right: 10px;
}

.dark-mode .TechStack img {
  filter: invert(100%); 
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .about-container {
    padding-top: 200px;
    padding-bottom: 170px;
    transform: scale(1.4);
    max-width: 100%;
    flex-direction: column; /* Stack items on top of each other for smaller screens */
    align-items: center; /* Center align items when stacked */
  }
  .TechStack {
    flex-direction: row; /* Stack items vertically */
    align-items: center; /* Center items */
  }
  .TechStack ion-icon,
  .TechStack img {
    margin-right: 0; /* Remove right margin for vertical stacking */
    margin-bottom: 10px; /* Add bottom margin for spacing between items */
    margin-top: 10px;
    margin-inline: 20px;
  }
  .logo{
    transform: scale(1.6);
    margin-inline: 25px;
    padding-top:20px;
    padding-bottom:30px;
    max-width: 100%;
    margin-top: 10px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around; /* Adjust spacing between items */
    align-items: center; /* Vertically center items */
  }
  nav button {
    transform: scale(2.2);
    margin-inline: 25px;
    padding-top:20px;
    padding-bottom:30px;
    max-width: 100%;
    margin-top: 10px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around; /* Adjust spacing between items */
    align-items: center; /* Vertically center items */
  }
  nav li a{
    transform: scale(2.2);
    margin-inline: 25px;
    padding-top:20px;
    padding-bottom:30px;
    max-width: 100%;
    margin-top: 10px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around; /* Adjust spacing between items */
    align-items: center; /* Vertically center items */
  }
  .footer-content,
  .dark-mode .footer-content{
    max-width: 100%;
    display: flex;
    justify-content: space-around; /* Adjust spacing between items */
    align-items: center; /* Vertically center items */
    margin-bottom:0;
  }
  footer,
  .dark-mode footer {
    margin: 0;
    padding: 0;
    padding-top: 5px;
    padding-bottom: 20px;
  }
  .footer-content p button,
  .dark-mode .footer-content p button {
    transform: scale(3);
    padding: 0;
    position: relative; /* Position relative to its normal position */
    top: -15px; /* Adjust the vertical position */
    left: 10px; /* Adjust the horizontal position */
  }
  .dark-mode .footer-content p a,
  .footer-content p a{
    font-size: 75px;
    position: relative;
    left: -70px;
    padding-inline: 60px;
    margin: 0;
  }
  .dark-mode footer .footer-content a :hover,
  footer .footer-content a :hover{
    font-size: 75px;
  }
  .dark-mode .footer-content button :hover,
  footer .footer-content button :hover{
    font-size: 30px;
  }
  .intro-container {
    padding-top: 40px;
    padding-bottom: 10px;
    transform: scale(1.7);
    max-width: 100%;
  }
  .projectWrapper .content2 {
    padding-top: 100px;
    transform: scale(1.5);
    padding-bottom: 170px;
  }
}

.resume-tech-container img {
  border-radius: 30px;
  margin-right: 10px;
}


.App {
  text-align: center;
}

.test h2 {
  display: flex;
  align-items: center; /* This will vertically center align the items in the container */
  justify-content: center; /* Horizontally center the content */
  gap: 20px; /* Adds space between the image and the text */
}

.fisherman {
  width: 200px;
  height: auto;
  left: 50%;
  top: -35px;
  transform: translateX(-200px);
  position: absolute;
  z-index: 1;
}

.line {
  content: '';
  position: absolute;
  width: 2px; /* Make the line very thin */
  background-color: #000000;
  top: -20px;
  left: 50%;
  animation: growShrinkLine 15s infinite;
  z-index: 1;
}

.fish {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100px;
  transform: rotate(90deg);
  transform-origin: 0% 0%;
  animation: reelFish 15s infinite, shake 15s infinite;
}

@keyframes growShrinkLine {
  0% {
    height: 0%;
  }
  50% {
    height: 99.5%;
  }
  100% {
    height: 0%;
  }
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
    transform-origin: 0% 50%;
  }
  49% {
    transform: rotate(0deg);
    transform-origin: 0% 50%;
  }
  50% {
    transform: rotate(90deg);
    transform-origin: 0% 50%;
  }
  60% {
    transform: rotate(80deg);
    transform-origin: 0% 50%;
  }
  65% {
    transform: rotate(100deg);
    transform-origin: 0% 50%;
  }
  70% {
    transform: rotate(80deg);
    transform-origin: 0% 50%;
  }
  80% {
    transform: rotate(100deg);
    transform-origin: 0% 50%;
  }
  90% {
    transform: rotate(80deg);
    transform-origin: 0% 50%;
  }
  100% {
    transform: rotate(90deg);
    transform-origin: 0% 50%;
  }
}

@keyframes reelFish {
  0% {
    bottom: 0%;
    left: 90%;
  }
  50% {
    bottom: 0%;
    left: 50%;
  }
  100% {
    bottom: 99.5%;
    left: 50%;
  }
}
.exp h2{
  transform: scale(1.4);
  white-space: nowrap;
  position: absolute;
  top:10%;
  left: 60%;
  z-index: 1;
  color: #000000;
  padding-bottom: 150px;
}
.dark-mode .exp h2{
  color: #fff;
}


.dark-mode .line {
  background-color: #ffffff; /* Keeps the timeline line color white in dark mode */
}
.dark-mode .fish {
  filter:invert(100%);
}


.timeline-container {
  padding-top: 50px;
  padding: 10px 40px;
  position: relative;
  background-color: #333;
  width: 50%;
  border-radius: 30px;
}
/* Container for the timeline */
.timeline {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  width: 100%;
}

/* Wrapper to position containers correctly */
.timeline-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
}

/* Left container */
.timeline-container.left {
  margin-top: -150px;
  max-width: 400px;
  max-height: fit-content;
  align-self: flex-end; /* Align to the right of the center line */
  margin-right: calc(50% + 20px); /* 10px + 2px (width of the middle line) */
}
.resme{
  padding: 150px;
}
/* Right container */
.timeline-container.right {
  margin-top: -180px;
  max-width: 400px;
  max-height: fit-content;
  align-self: flex-start; /* Align to the left of the center line */
  margin-left: calc(50% + 20px);
}
.timeline-container.left h3{
  color: #fff;
}
.timeline-container.left h2{
  color: #fff;
}
.timeline-container.right h3{
  color: #fff;
}
.timeline-container.right h2{
  color: #fff;
}
.timeline-container.left p {
  text-align: left;
  color: #fff;
}


.timeline-container.right p {
  text-align: left;
  color: #fff;
}

.content {
  padding: 20px 30px;
  position: relative;
  border-radius: 6px;
  --text-color: #fff;
}

.TechStack {
  text-align: center;
  margin-top: 20px;
  transition: transform 0.3s ease-in-out;
}
.TechStack:hover {
  filter: drop-shadow(20px 20px 20px white);
}
@keyframes coolThing {
  0% {
    transform: rotateX(0deg) rotateY(0deg) translate(250px, 0);
  }
  18.75% {
    transform: rotateX(-40deg) rotateY(-20deg) translate(0px, -170px);
  }
  37.5% {
    transform: rotateX(-40deg) rotateY(-20deg) translate(0px, -170px);
  }
  56.25% {
    transform: rotateX(0deg) rotateY(0deg) translate(-250px, 0);
  }
  75% {
    transform: rotateX(-40deg) rotateY(-20deg) translate(0px, -170px);
  }
  100% {
    transform: rotateX(0deg) rotateY(0deg) translate(250px, 0);
  }
}
.test2 img {
  margin-top: 100px;
  margin-bottom:0px;
  width:100px ;
  height:auto;
  animation: coolThing 6s steps(200) infinite;
}

.dark-mode .test2 img {
  filter:invert(100%);
}
.projectWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap:20px;
}


.projimg {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hill-images {
  top: -60px;
  gap:280px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
}

.hill-images img {
  position: relative;
}

.img1, .img2 {
  width: 400px;
  height: 150px;
}

.img1 {
  margin-left: 90px;
}

.img2 {
  margin-right: 90px;
}

.dark-mode .img1, .dark-mode .img2 {
  filter: invert(100%);
}
.content2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 0px;
}
@media (max-width: 768px) {
  .content2 {
    flex-direction: column;
  }
}

.pparse {
  margin-top: 20px;
  width: 540px;
  border-radius: 30px; 
  border: 2px solid black;
  transition: transform 0.3s ease-in-out;
}

.dark-mode .pparse {
  border: 2px solid white;
}

.pparse:hover {
  transform: scale(1.2);
}

.text {
  width: 50%;
  text-align: center;
  margin-top: 20px;
}



@media screen and (min-width: 768px) and (max-width: 991px) {

  .App {
    margin:0;
    width: 100%;
  }

  }
  
  @media screen and (min-width: 481px) and (max-width: 767px) {
  
    .App {
      width: 100%;
      margin:0;
    }
    .projectWrapper {
      flex-direction: row; /* Stack items on top of each other for smaller screens */
      align-items: center; /* Center align items when stacked */
    }
  
  }
  
  @media screen and (min-width: 320px) and (max-width: 480px ) {
  
    .App {
      margin:0;
      width: 100%;
    }
  }